@font-face {
    font-family: 'Ethnocentric';
    src: url('../fonts/ethnocentric rg it.otf') format('opentype');
    src: url('../fonts/ethnocentric rg.otf') format('opentype');
}
h1.logo{
    font-family: 'Ethnocentric', sans-serif;
}
